
crawler/src/main/resources/application.properties
https://github.com/Petarj123/Web-Crawler/blob/b153c97fb22248842805fc0645b4a8482fdd2870/crawler/src/main/resources/application.properties
*.properties
